{{#if message}}
    <div class="alert-box alert">{{message}}</div>
{{/if}}
{{#if fieldErrors}}
    <div data-alert class="alert-box alert fieldErrors" tabindex="0" aria-live="assertive" role="alertdialog">
        <p>The information you provided is incomplete or incorrect.  Please check the following:</p>

        <ul>
            {{#each fieldErrors}}
                <li>{{message}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}
