{{#if message}}
    <div class="callout alert">{{message}}</div>
{{/if}}
{{#if validationResults.errors}}
    <div data-alert class="callout alert fieldErrors" aria-live="assertive" role="alertdialog">
        <p>The information you provided is incomplete or incorrect.  Please check the following:</p>

        <ul>
            {{#each validationResults.errors}}
                <li>{{dataPath}}: {{messageHelper message}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}
