<div class="row">
    <div class="success"></div>
</div>

<div class="row">
    <div class="error"></div>
</div>

<form class="form">
    <div class="row">
        <div class="column small-12">
            <label>
                Username:
                <input type="text" name="username"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label>
                Password:
                <input type="password" name="password"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12 medium-6">
            <button class="submit expand">Submit</button>
        </div>
        <div class="column small-12 medium-6">
            <button class="forceSubmit expand">Force Submit</button>
        </div>
    </div>
</form>
