<div class="row">
    <div class="success"></div>
</div>

<div class="row">
    <div class="error"></div>
</div>

<form class="form">
    <div class="row">
        <div class="column small-12">
            <label>
                succeed?:
                <input type="checkbox" name="succeed" value="true" checked/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label class="shallowlyRequired-block">
                shallowlyRequired:
                <input type="text" name="shallowlyRequired"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label class="testString-block">
                testString:
                <input type="text" name="testString"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label class="testAllOf-block">
                testAllOf:
                <input type="text" name="testAllOf"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label class="deeplyRequired-block">
                deeplyRequired:
                <input type="text" name="deeplyRequired"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12 medium-6 right">
            <button class="submit button expanded">Submit</button>
        </div>
    </div>
</form>
