<div class="row">
    <div class="success"></div>
</div>

<div class="row">
    <div class="error"></div>
</div>

<form class="form">
    <div class="row">
        <div class="column small-12">
            <label>
                shallowlyRequired:
                <input type="text" name="shallowlyRequired"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label>
                testString:
                <input type="text" name="testString"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label>
                testAllOf:
                <input type="text" name="testAllOf"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label>
                deeplyRequired:
                <input type="text" name="deeplyRequired"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12">
            <label>
                succeed?:
                <input type="text" name="succeed" value="true"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="column small-12 medium-6 right">
            <button class="submit expand">Submit</button>
        </div>
    </div>
</form>
