<div data-alert class="alert-box alert validationError" tabindex="0" aria-live="assertive" role="alertdialog">
    <p>The information you provided is incomplete or incorrect.  Please check the following:</p>

    <ul>
        {{#each message}}
            <li>{{message}}</li>
        {{/each}}
    </ul>
</div>
